[Desktop Entry]
Name=ScottPlayer
GenericName=ScottPlayer
Comment=ScottPlayer is a FSEQ Playback application that works with xLights.
Exec=ScottPlayer
Terminal=false
Icon=org.flatpak.scottplayer
Type=Application
Categories=Qt;KDE;AudioVideo